h1{
    font-size: 45px;
    margin-bottom: 40px;
}
.container-contact{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

p {
  margin-left: 10%;
    margin-right: 5%;
    font-size: 20px;
}
.mapouter{
    margin-right: 9%;
}
#delivery{
    height: 200px;
    width: 300px;

}

